[submodule ".github/actions/latest-tag"]
	path = .github/actions/latest-tag
	url = https://github.com/EndBug/latest-tag
[submodule ".github/actions/pr-lint-action"]
	path = .github/actions/pr-lint-action
	url = https://github.com/morrisoncole/pr-lint-action
[submodule ".github/actions/file-changes-action"]
	path = .github/actions/file-changes-action
	url = https://github.com/trilom/file-changes-action
[submodule ".github/actions/cached-dependencies"]
	path = .github/actions/cached-dependencies
	url = https://github.com/psbsgic/rabbitai/cached-dependencies
[submodule ".github/actions/comment-on-pr"]
	path = .github/actions/comment-on-pr
	url = https://github.com/unsplash/comment-on-pr
[submodule ".github/actions/chart-testing-action"]
	path = .github/actions/chart-testing-action
	url = https://github.com/helm/chart-testing-action
[submodule ".github/actions/chart-releaser-action"]
	path = .github/actions/chart-releaser-action
	url = https://github.com/helm/chart-releaser-action
[submodule ".github/actions/github-action-push-to-another-repository"]
	path = .github/actions/github-action-push-to-another-repository
	url = https://github.com/cpina/github-action-push-to-another-repository
