*.ipynb
*.bak
*.db
*.pyc
*.sqllite
*.swp
__pycache__

.local
.cache
.bento*
.cache-loader
.coverage
cover
.DS_Store
.eggs
.env
.envrc
.idea
.mypy_cache
.python-version
.tox
.vscode
_build
_images
_modules
_static
build
app.db
rabbitai.egg-info/
changelog.sh
dist
dump.rdb
env
venv*
env_py3
envpy3
env36
local_config.py
/rabbitai_config.py
/rabbitai_text.yml
rabbitai.egg-info/
rabbitai/bin/rabbitaic
tmp
rat-results.txt
rabbitai/app/

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log*
rabbitai/static/assets
rabbitai/static/version_info.json
yarn-error.log

# IntelliJ
*.iml
venv
@eaDir/

# Test data
celery_results.sqlite
celerybeat-schedule
celerydb.sqlite
celerybeat.pid
geckodriver.log
ghostdriver.log
testCSV.csv
.terser-plugin-cache/
rabbitai-*.tar.gz*
release.json

# Translation binaries
messages.mo

docker/requirements-local.txt
