#
# This is an example "local" configuration file. In order to set/override config
# options that ONLY apply to your local environment, simply copy/rename this file
# to docker/pythonpath/rabbitai_config_docker.py
# It ends up being imported by docker/rabbitai_config.py which is loaded by
# rabbitai/config.py
#

SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://rabbitai:rabbitai@localhost:5432/rabbitai_db"
SQLALCHEMY_ECHO = True
